<!DOCTYPE html>
<html lang="en">
<head>
    <title>flixtor Remote</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="Remote">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">flixtor</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <input type="text" id="search-txt" class="form-control" placeholder="Movie title, actor name, director name or their IMDB code">
                    <span class="input-group-btn">
                        <button id="search-btn" class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="results" class="col-xs-12">
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/socket.io.js"></script>
    <script>
        var socket = io.connect('{{ socket_address }}');

        socket.on('StatusUpdate', function(status) {
            if (status.torrent.streaming) window.location.href = 'remote';
        });

        $('#search-btn').click(function() {
            var keywords = $('#search-txt').val();
            var url = 'http://yts.re/api/list.json?keywords=' + keywords;

            var req = new XMLHttpRequest();
            req.open("GET", url, true);
            req.onreadystatechange = function() {
                if (req.readyState == 4 && req.status == 200) {
                    response = JSON.parse(req.responseText);

                    if (response.error === undefined) {
                        console.log(response);

                        movies = response.MovieList;

                        $('#results').html($(document.createElement('table')).addClass("table table-striped"));

                        function loadTorrent(index) {
                            return function() {socket.emit('remote-LoadTorrent', movies[index].TorrentUrl);}
                        }

                        for (var i = 0; i < movies.length; i++) {
                            var row = $(document.createElement('tr'));

                            var cover_image = $('<td><img src="' + movies[i].CoverImage + '" /></td>');
                            var movie_title = $('<td><em>' + movies[i].MovieTitle + '</em></td>');
                            var movie_size = $('<td>' + movies[i].Size + '</td>');

                            movie_title.click(loadTorrent(i));

                            row.append(cover_image);
                            row.append(movie_title);
                            row.append(movie_size);

                            $('#results .table').append(row);
                        }

                    } else {
                        $('#results').html($(document.createElement('div')).addClass("alert alert-danger alert-dismissable"));

                        $('#results .alert').append('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>');
                        $('#results .alert').append("Sorry, could not find anything matching your query!");
                    }
                }
            };
            req.send(null);
        });
    </script>
</body>
</html>