<!DOCTYPE html>
<html lang="en">
<head>
    <title>flixtor Remote</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="cssvideo-js.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="Remote">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">flixtor</a>
            </div>
        </div>
    </nav>
    <div id="video-container"></div>
    <div id="progress-container" class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="progress progress-striped">
                    <div class="bar" style="width: 0%;"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/socket.io.js"></script>
    <script src="js/video.js"></script>

    <script>
        videojs.options.flash.swf = "video-js.swf"
    </script>

    <script>
        var socket = io.connect('{{ socket_address }}');

        socket.on('StatusUpdate', function(status) {
            console.log(status);

            if (!status.torrent.streaming) window.location.href = '/';

        });

        socket.on('UpdateProgress', function(status) {
            console.log(status);
            $('.bar').css( "width", status+"%" );
        });



        socket.on('Html', function(html) {
            $( "#progress-container" ).remove();
            $('#video-container').append(html);
        });

        $( document ).ready(function() {
            socket.emit('remote-loading');
        });

    </script>
</body>
</html>